{% extends "tpl_survey.html" %}
{% block text %}

<h2>自闭症谱系障碍（ASD）</h2>
<p>　　自闭症谱系障碍（ASD）是一种神经发育障碍，影响着儿童的社交、沟通和行为。自闭症儿童在与他人交流时常常感到困难，他们可能会对社交场合感到焦虑，无法理解他人的情感和意图，甚至在日常生活中也需要额外的支持和帮助。这些孩子并非没有感知世界的渴望。他们可能因无法表达需求而陷入崩溃尖叫，因感官超载而畏惧人群的触碰，因难以理解社交规则而被贴上“行为怪异”的标签。</p>
<p>　　根据世界卫生组织的统计，全球约有1%的人口受到自闭症的影响。而在中国也有超过300万自闭症儿童生活在无形的围墙之中。他们被称为“星星的孩子”，却常被困在静默的宇宙里。更令人揪心的是，社会认知的鸿沟与专业资源的匮乏，使得近80%的适龄儿童被普通教育体系拒之门外。在这些数字背后，是无数家庭面临的挑战和困境。一位母亲在深夜的日记里写道：“我多想听见他喊一声妈妈，哪怕用我余生去交换。”</p>
<p>　　许多自闭症儿童在学习上也需要特别的教育支持，传统的教学方法可能无法满足他们的需求。这使得他们在教育体系中常常处于劣势，影响了他们的自信心和未来发展。因此，社会各界对自闭症儿童的理解和支持显得尤为重要。每一个自闭症儿童都值得被理解和接纳，他们的潜力和价值不应被忽视。大学生作为社会的新生力量，能够通过自己的行动为自闭症儿童创造一个更加友好和包容的环境：利用课余时间参与到自闭症儿童的社交活动和教育辅导中；通过组织宣传活动，提高社会对自闭症的认识和理解。让我们携手并肩，用爱与理解去温暖每一个自闭症儿童的心灵。</p>

{% endblock text %}