body {
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #F5F5F4;
    color: #2C2F33;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", sans-serif;
}

.container {
    max-width: 80ch;
    margin: 0 auto;
    padding: 2rem 1rem;
}

h1, h2, h3 {
    font-weight: bold;
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
}

h1 {
    font-size: clamp(1.5rem, 10vw, 2.3rem);
}

h2 {
    font-size: clamp(1.25rem, 8vw, 1.8rem);
}

h3 {
    font-size: clamp(1rem, 6vw, 1.4rem);
}

p, ul {
    font-size: 1rem;
    margin-bottom: 1rem;
}

header {
    font-size: 0.9rem;
    padding: 0.75rem;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

button {
    padding: 0.25rem;
    border: none;
    background-color: hsl(210,30%,30%);
    color: white;
    font-size: 0.9rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.pwidth {
    font-size: 1rem;
    box-sizing: border-box;
    width: 100%;
    padding: 0.75rem;
    margin-bottom: 1rem;
}

button:hover {
    background-color: hsl(210,30%,20%);
}

button:disabled {
    cursor: not-allowed;
    opacity: 0.5; 
} 

#error-message {
    color: #d9534f;
    margin: 0.5rem;
    font-size: 0.8rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.page-navigation {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}

.question-card {
    background-color: white;
    padding: 1.5rem;
    margin-bottom: 1.5rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

.question-title {
    font-weight: bold;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
}

@media (max-width: 600px) {
    .container {
        padding: 1rem;
    }
}